<section>
    <h2>Nouveau message</h2>
    <form action="/article" method="post">
        <input type="text" name="title">
        <textarea name="message" id="" cols="30" rows="10"></textarea>
        <input type="text" name="author">
        <input type="submit" value="Enregistrer">
    </form>
</section>
